<div class="row">
  <div class="col form-check form-check-inline">
    Sort by:
  </div>
  <div class="col form-check form-check-inline">
    <input
      class="form-check-input"
      type="radio"
      name="sortByRadios"
      id="sortByRadios_1"
      value="default"
      (change)="orderByRadiosClick(searchModel.sortBy, searchModel.orderBy)"
      [(ngModel)]="searchModel.sortBy">
    <label
      class="form-check-label"
      for="sortByRadios_1">
      default
    </label>
  </div>
  <div class="col form-check form-check-inline">
    <input
      class="form-check-input"
      type="radio"
      name="sortByRadios"
      id="sortByRadios_2"
      value="stars"
      (change)="orderByRadiosClick(searchModel.sortBy, searchModel.orderBy)"
      [(ngModel)]="searchModel.sortBy">
    <label
      class="form-check-label"
      for="sortByRadios_2">
      stars
    </label>
  </div>
  <div class="col form-check form-check-inline">
    <input
      class="form-check-input"
      type="radio"
      name="sortByRadios"
      id="sortByRadios_3"
      value="forks"
      (change)="orderByRadiosClick(searchModel.sortBy, searchModel.orderBy)"
      [(ngModel)]="searchModel.sortBy">
    <label
      class="form-check-label"
      for="sortByRadios_3">
      forks
    </label>
  </div>
</div>
<div class="row">
  <div class="col form-check form-check-inline">
    Order by:
  </div>
  <div class="col form-check form-check-inline">
    <input
      class="form-check-input"
      type="radio"
      name="orderByRadios"
      id="orderByRadios_1"
      value="desc"
      (change)="orderByRadiosClick(searchModel.sortBy, searchModel.orderBy)"
      [(ngModel)]="searchModel.orderBy">
    <label
      class="form-check-label"
      for="orderByRadios_1">
      desc
    </label>
  </div>
  <div class="col form-check form-check-inline">
    <input
      class="form-check-input"
      type="radio"
      name="orderByRadios"
      id="orderByRadios_2"
      value="asc"
      (change)="orderByRadiosClick(searchModel.sortBy, searchModel.orderBy)"
      [(ngModel)]="searchModel.orderBy">
    <label
      class="form-check-label"
      for="orderByRadios_2">
      asc
    </label>
  </div>
</div>
