table tr:nth-child(1) {
  //td:nth-child(1) {
  //  width: 130px;
  //  font-weight: bold;
  //}
  //td:nth-child(2) {
  //  width: 100px
  //}
  //td:nth-child(3) {
  //  width: 80px
  //}
  //td:nth-child(4) {
  //
  //}
  //td:nth-child(5) {
  //
  //}
  //td:nth-child(6) {
  //  width: 150px
  //}
  //td:nth-child(7) {
  //  width: 100px
  //}
  //td:nth-child(8) {
  //  width: 50px
  //}
}
img {
  border: 1px white;
  border-radius: 50%;
}
a {
  text-decoration: none;
  color: black
}
.row{
  background-color: #a0b4c8;
  border-radius: 3px;
}
.container{
  //width: 300px;
  //overflow-y: auto;
  //white-space: nowrap;
}

.container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

.container::-webkit-scrollbar
{
  height: 3px;
  background-color: #F5F5F5;
}

.container::-webkit-scrollbar-thumb
{
  background-color: #000000;
  border: 2px solid #555555;
}
