<div class="container-fluid mt-2" style="height: inherit;">
  <div class="row-fluid">
    <div class="col-12">
      <app-search-bar-default *ngIf="extended; else ext" [stype]="extended" (mstype)="modInput()"></app-search-bar-default>
      <ng-template #ext>
        <app-search-bar-extended [stype]="extended" (mstype)="modInput()"></app-search-bar-extended>
      </ng-template>
    </div>
  </div>
  <div class="row-fluid h-100">
    <div class="col-12" style="height: inherit;">
      <app-search-results></app-search-results>
    </div>
  </div>
</div>
