@import "assets/bootstrap-sass/variables";

body{
  background: $body-background;
}
app-root {
  background: $body-box-background;
  width: $body-box-width;
  height: $body-box-height;
  position: absolute;
  top: 50%;
  margin-bottom: -50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-family: Arial, Helvetica;
}
