<div class="shadow mb-2 bg-light rounded">
  <form class="mb-0 form-group"
        #eventForm="ngForm"
        (ngSubmit)="onSubmit(eventForm.value)">
    <div class="container">
      <div class="row mt-2">
        <div class="col col-sm-12 col-lg-6 mt-3">
          <div class="input-group" style="min-width: 350px">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputinputSearch">Search by*:</span>
            </div>
            <input
              type="text"
              id="newEventTitle"
              class="form-control"
              name="searchBy"
              [(ngModel)]="searchModel.searchBy"
              placeholder="Search parameter">
          </div>
        </div>
        <div class="col mt-3 ml-3 mr-auto btn-group form-check form-check-inline btn-group-toggle">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputinputSearcParam">In:</span>
          </div>
          <label class="btn btn-info form-check-label {{checkedInput(searchModel.inName)}}" for="nameCheck">
            <input
              class="form-check-input"
              type="checkbox"
              id="nameCheck"
              name="inName"
              [(ngModel)]="searchModel.inName">name
          </label>
          <label class="btn btn-info form-check-label {{checkedInput(searchModel.inDescription)}}" for="descriptionCheck">
            <input
              class="form-check-input"
              type="checkbox"
              id="descriptionCheck"
              name="inDescription"
              [(ngModel)]="searchModel.inDescription">description
          </label>
          <label class="btn btn-info form-check-label {{checkedInput(searchModel.inReadme)}}" for="readmeCheck">
            <input
              class="form-check-input"
              type="checkbox"
              id="readmeCheck"
              name="inReadme"
              [(ngModel)]="searchModel.inReadme"> readme
          </label>
        </div>
        <div class="col mt-3 ml-auto flex-grow-0">
          <button type="submit" class="btn btn-primary w-100">Search</button>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
          <div class="input-group mt-2">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputUsername">User name:</span>
            </div>
            <input
              type="text"
              class="form-control"
              aria-describedby="inputUsername"
              id="userName"
              name="userName"
              [(ngModel)]="searchModel.userName"
              placeholder="Parameter">
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
          <div class="input-group mt-2">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputOrganisation">Organisation:</span>
            </div>
            <input
              type="text"
              class="form-control"
              aria-describedby="inputOrganisation"
              id="organisation"
              name="organisation"
              [(ngModel)]="searchModel.organization"
              placeholder="Parameter">
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
          <div class="input-group mt-2">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputLanguage">Language:</span>
            </div>
            <input
              type="text"
              class="form-control"
              aria-describedby="inputLanguage"
              id="language"
              [(ngModel)]="languageInput"
              name="language"
              placeholder="Parameter">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="languageAdd()" type="button" id="button-LanguageAdd">Add</button>
            </div>
          </div>
          <div style="text-align: left;">
            <div style="text-align: left;">
              <app-button-language *ngFor="let lg of this._searchService.searchModel.language" [result]="lg"></app-button-language>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
          <div class="input-group mt-2">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputTopic">Topic:</span>
            </div>
            <input
              type="text"
              class="form-control"
              aria-describedby="inputTopic"
              id="topic"
              [(ngModel)]="topicInput"
              name="topic"
              placeholder="Parameter">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="topicAdd()" type="button" id="button-TopicAdd">Add</button>
            </div>
          </div>
          <div style="text-align: left;">
            <div style="text-align: left;">
              <app-button-topic *ngFor="let tp of this._searchService.searchModel.topic" [result]="tp"></app-button-topic>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 mt-2">
          <div class="card">
            <div class="card-header" style="padding: .3rem 0.5rem;">Stars</div>
            <div class="card-body">
              <div class="row">
                <div class="input-group input-group-sm mt-2 mb-2">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputStarsNumber">Number:</span>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    aria-describedby="inputStarsNumberMin"
                    id="starsMin"
                    name="starsMin"
                    [(ngModel)]="searchModel.starsMin"
                    placeholder="Number parameter">
                  <input
                    *ngIf="starsBetweenFilter"
                    type="text"
                    class="form-control"
                    aria-describedby="inputStarsNumberMax"
                    id="starsMax"
                    name="starsMax"
                    [(ngModel)]="searchModel.starsMax"
                    placeholder="Number parameter">
                </div>
              </div>
              <div class="row">
                <div class="col form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="starsRadios"
                    id="starsRadios_equal"
                    value="equal"
                    (change)="starsRadiosClick()"
                    [(ngModel)]="searchModel.starsRadios">
                  <label class="form-check-label" for="starsRadios_equal">equal</label>
                </div>
                <div class="col form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="starsRadios"
                    id="starsRadios_greater_than"
                    value="greater_than"
                    (change)="starsRadiosClick()"
                    [(ngModel)]="searchModel.starsRadios">
                  <label class="form-check-label" for="starsRadios_greater_than">greater&nbsp;than</label>
                </div>
                <div class="col form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="starsRadios"
                    id="starsRadios_less_than"
                    value="less_than"
                    (change)="starsRadiosClick()"
                    [(ngModel)]="searchModel.starsRadios">
                  <label class="form-check-label" for="starsRadios_less_than">less&nbsp;than</label>
                </div>
                <div class="col form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="starsRadios"
                    id="starsRadios_between"
                    value="between"
                    (change)="starsRadiosClick()"
                    [(ngModel)]="searchModel.starsRadios">
                  <label class="form-check-label" for="starsRadios_between">between</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 mt-2">
          <div class="card">
            <div class="card-header" style="padding: .3rem 0.5rem;">Created</div>
            <div class="card-body">
              <div class="row">
                <div class="input-group input-group-sm mt-2 mb-2">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputCreatedsDate">Date:</span>
                  </div>
                  <input
                    type="date"
                    class="form-control"
                    aria-describedby="inputStarsNumberMin"
                    id="createdMin"
                    name="createdMin"
                    onkeydown="return false"
                    [(ngModel)]="searchModel.createdMin">
                  <input
                    *ngIf="createdBetweenFilter"
                    type="date"
                    class="form-control"
                    aria-describedby="inputStarsNumberMax"
                    id="createdMax"
                    name="createdMax"
                    onkeydown="return false"
                    [(ngModel)]="searchModel.createdMax">
                </div>
              </div>
              <div class="row">
                <div class="col form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="createdsRadios"
                    id="createdsRadios_before"
                    value="before"
                    (change)="createdsRadiosClick()"
                    [(ngModel)]="searchModel.createdRadios">
                  <label class="form-check-label" for="createdsRadios_before">before</label>
                </div>
                <div class="col form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="createdsRadios"
                    id="createdsRadios_on_or_before"
                    value="on_or_before"
                    (change)="createdsRadiosClick()"
                    [(ngModel)]="searchModel.createdRadios">
                  <label class="form-check-label" for="createdsRadios_on_or_before">on&nbsp;or&nbsp;before</label>
                </div>
                <div class="col form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="createdsRadios"
                    id="createdsRadios_after"
                    value="after"
                    (change)="createdsRadiosClick()"
                    [(ngModel)]="searchModel.createdRadios">
                  <label class="form-check-label" for="createdsRadios_after">after</label>
                </div>
                <div class="col form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="createdsRadios"
                    id="createdsRadios_on_or_after"
                    value="on_or_after"
                    (change)="createdsRadiosClick()"
                    [(ngModel)]="searchModel.createdRadios">
                  <label class="form-check-label" for="createdsRadios_on_or_after">on&nbsp;or&nbsp;after</label>
                </div>
                <div class="col form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="createdsRadios"
                    id="createdsRadios_between"
                    value="between"
                    (change)="createdsRadiosClick()"
                    [(ngModel)]="searchModel.createdRadios">
                  <label class="form-check-label" for="createdsRadios_between">between</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 mt-2">
          <div class="card">
            <div class="card-header" style="padding: .3rem 0.5rem;">Size</div>
            <div class="card-body">
              <div class="row">
                <div class="input-group input-group-sm mt-2 mb-2">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputSizeNumber">Number:</span>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    aria-describedby="inputSizeNumberMin"
                    id="sizeMin"
                    name="sizeMin"
                    [(ngModel)]="searchModel.sizeMin"
                    placeholder="Number parameter">
                  <input
                    *ngIf="sizeBetweenFilter"
                    type="text"
                    class="form-control"
                    aria-describedby="inputSizeNumberMax"
                    id="sizeMax"
                    name="sizeMax"
                    [(ngModel)]="searchModel.sizeMax"
                    placeholder="Number parameter">
                </div>
              </div>
              <div class="row">
                <div class="col form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="sizeRadios"
                    id="sizeRadios_equal"
                    value="equal"
                    (change)="sizeRadiosClick()"
                    [(ngModel)]="searchModel.sizeRadios">
                  <label class="form-check-label" for="sizeRadios_equal">equal</label>
                </div>
                <div class="col form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="sizeRadios"
                    id="sizeRadios_greater_than"
                    value="greater_than"
                    (change)="sizeRadiosClick()"
                    [(ngModel)]="searchModel.sizeRadios">
                  <label class="form-check-label" for="sizeRadios_greater_than">greater&nbsp;than</label>
                </div>
                <div class="col form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="sizeRadios"
                    id="sizeRadios_less_than"
                    value="less_than"
                    (change)="sizeRadiosClick()"
                    [(ngModel)]="searchModel.sizeRadios">
                  <label class="form-check-label" for="sizeRadios_less_than">less&nbsp;than</label>
                </div>
                <div class="col form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="sizeRadios"
                    id="sizeRadios_between"
                    value="between"
                    (change)="sizeRadiosClick()"
                    [(ngModel)]="searchModel.sizeRadios">
                  <label class="form-check-label" for="sizeRadios_between">between</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="col mt-2 ml-auto px-0 font-weight-light">
    <button class="btn btn-light mr-sm-2" style="width: 100%; border-top-left-radius: 0px; border-top-right-radius: 0px; font-size: smaller; padding: 2px;" (click)="modStype()">Standard&nbsp;search&nbsp;^</button>
  </div>
</div>

